*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
app-root{
  background: #f9f9f9;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Mont';
  font-size: 16px;
  font-weight: 500;
}
input{
  width: 272px;
  padding: 15px;
  font-family: 'Mont';
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #bdbdbd;
  color: #000;
  border-radius: 8px;
  outline: none;
}
.button{
  width: 272px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  font-family: 'Mont';
  font-size: 20px;
  font-weight: 500;
  background: #e20b20;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  @media screen and (min-device-width: 480px){
    &:hover{
      background: #fff;
      color: #000;
    }
  }
}
